---
import { Github, X, Instagram } from "simple-icons-astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="img/pfp.svg" type="image/svg+xml" />
    <title>mulkyayyubi</title>
  </head>

  <body class="bg-zinc-900 text-white font-['Merriweather_Sans']">
    <nav
      class="container mx-auto md:px-28 sm:px-20 px-16 pt-10 md:pb-64 sm:pb-16 pb-10 flex justify-between"
    >
      <a class="md:text-2xl text-lg" href="">mulkyayyubi.</a>
      <div class="flex gap-2 md:gap-5 items-center">
        <a target="_blank" href="https://www.instagram.com/mo._.oolky/"
          ><Instagram class="size-5 md:size-8" /></a
        >
        <a target="_blank" href="https://x.com/mulkyayb"
          ><X class="size-5 md:size-8" /></a
        >
        <a target="_blank" href="https://github.com/MulkyAyyubi"
          ><Github class="size-5 md:size-8" /></a
        >
      </div>
    </nav>

    <section
      class="scroll container mx-auto pl-14 pr-14 flex flex-col items-center text-center md:pb-40 sm:pb-16 pb-10"
    >
      <h1
        class="text-[2.8rem] md:text-[10rem] font-bold leading-[54px] md:leading-[130px] pt-24 md:pt-20"
        id="rotate"
      >
        Olรก Amigos!
      </h1>
      <p
        class="md:pt-20 pt-7 md:pb-20 pb-7 max-w-[55rem] text-sm sm:text-lg md:text-xl font-light md:leading-7 leading-5"
      >
        Ola, <span class="font-bold text-[#FF7A00]">I'm Mulky Ayyubi</span> ๐๐ผ .
        A Friendly Front-End Developer from Indonesia passionate about building accessible
        websites that users love and likes.
      </p>
      <a
        class="md:text-base text-xs font-semibold px-6 py-3 bg-[#FF7A00] hover:bg-orange-700 max-w-52"
        target="blank"
        href="https://web.whatsapp.com/">CONTACT ME</a
      >
    </section>

    <section class="scroll md:mt-52 mt-10 md:mb-60 mb-10 pl-14 pr-14">
      <div>
        <h1
          class="text-[40px] md:text-[60px] font-bold text-center w-full leading-[70px] relative py-12"
        >
          <span class="bg-[#EF7404]">Technologies</span> Learnt
        </h1>
      </div>
      <div class="scroll container mx-auto flex justify-center py-6 md:py-20">
        <div
          class="[--gap:50px] md:[--gap:100px] max-w-[1200px] overflow-hidden [mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)]"
        >
          <div class="flex gap-[--gap] w-max animate-scroll">
            <img class="size-20 md:size-32" src="img/html.svg" alt="" />
            <img class="size-20 md:size-32" src="img/css.svg" alt="" />
            <img class="size-20 md:size-32" src="img/js.svg" alt="" />
            <img class="size-20 md:size-32" src="img/figma.svg" alt="" />
            <img class="size-20 md:size-32" src="img/nextjs.svg" alt="" />
            <img class="size-20 md:size-32" src="img/tailwind.svg" alt="" />
            <img class="size-20 md:size-32" src="img/shadcn.svg" alt="" />
            <img class="size-20 md:size-32" src="img/astro.svg" alt="" />
            <img class="size-20 md:size-32" src="img/html.svg" alt="" />
            <img class="size-20 md:size-32" src="img/css.svg" alt="" />
            <img class="size-20 md:size-32" src="img/js.svg" alt="" />
            <img class="size-20 md:size-32" src="img/figma.svg" alt="" />
            <img class="size-20 md:size-32" src="img/nextjs.svg" alt="" />
            <img class="size-20 md:size-32" src="img/tailwind.svg" alt="" />
            <img class="size-20 md:size-32" src="img/shadcn.svg" alt="" />
            <img class="size-20 md:size-32" src="img/astro.svg" alt="" />
          </div>
        </div>
      </div>
    </section>

    <section
      class="scroll container mx-auto px-5 md:px-28 md:pt-20 pt-0 pb-12 md:pb-16 xl:pb-24 relative overflow-hidden"
    >
      <h1
        class="text-[40px] md:text-[60px] font-bold text-center w-full leading-[70px] relative py-12"
      >
        <span class="bg-[#EF7404]">Featured</span> Work
      </h1>
      <div>
        <div
          class="scroll md:mb-48 mb-7 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]"
        >
          <a target="_blank" href="https://www.kodein.sch.id/">
            <img
              class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300"
              src="img/kodeinweb.png"
              alt=""
            />
          </a>
        </div>
        <div
          class="scroll md:mb-40 mb-7 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]"
        >
          <a target="_blank" href="https://mulky-asat.vercel.app/">
            <img
              class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300"
              src="img/joycat.png"
              alt=""
            />
          </a>
        </div>
        <div
          class="scroll group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]"
        >
          <a target="_blank" href="https://aviaventura.vercel.app/">
            <img
              class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300"
              src="img/aviaventura.png"
              alt=""
            />
          </a>
        </div>
      </div>
    </section>

    <footer class="overflow-hidden">
      <img class="w-full" src="img/footer.png" alt="" />
      <p
        class="bg-[#242424] text-2xl md:text-6xl font-bold md:pl-[250px] px-5 pt-10 md:pt-24 pb-10 md:pb-32 leading-7.5 md:leading-[4.5rem]"
      >
        Curious to collaborate or <br />
        discuss a project? <br />
        <a
          class="text-[#FF7A00]"
          target="blank"
          href="mailto:@mulkyalayyubi.com">Let's Talk</a
        >
      </p>
      <div
        class="animate-scroll flex [--gap:12px] gap-[--gap] [--direction:reverse] bg-[#242424] w-max pb-3"
      >
        <p class="font-light md:text-2xl text-sm">
          Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You
          โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank
          You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข
          Thank You โข Thank You โข Thank You โข Thank You โข
        </p>
        <p class="font-light md:text-2xl text-sm">
          Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You
          โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank
          You โข Thank You โข Thank You โข Thank You โข Thank You โข Thank You โข
          Thank You โข Thank You โข Thank You โข Thank You โข
        </p>
      </div>
    </footer>
  </body>
</html>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      console.log(entry);
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".scroll, footer");
  hiddenElements.forEach((el) => observer.observe(el));
</script>
