---
import { ad } from "simple-icons-astro"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>mulkyayyubi</title>
</head>

<body class="bg-zinc-900 text-white font-['Merriweather_Sans']">
     <nav class="py-11 pb-[120px]  pl-[300px]">
        <p><a class="text-2xl" href="">mulkyayyubi.</a>
        
    </nav>
        
         <section class=" px-[300px] flex justify-end flex-col-reverse 2xl:flex-row items-center">
            <div>
                <h1 class="text-[126px] font-bold leading-[130px] relative w-fit pt-[50px]" id="rotate">Olá <br> Amigos!
                    <!-- <span>Hello <br> Friend!</span>
                    <span>こんにちわ</span> -->

                </h1>
                <p class="pt-11 max-w-[500px] text-xl font-light leading-[28px]">Ola, <span class="font-bold text-[#FF7A00]">I'm Mulky Ayyubi</span> 👋🏼 . A Front-End Developer 
                    from Indonesia  passionate about building <br>
                    accessible webs that users love and likes <br>
                    to dive into the Multimedia world.</p>
                <a class="text-base font-normal pt-[70px] w-fit relative after:left-0 after:bg-[#FF7A00] after:h-1 after:absolute after:right-0 after:-bottom-1 after:rounded-md block" href="">CONTACT ME</a>
            </div>
            <div class="relative -mt-36 ml-12">
                <img src="img/foto.svg" alt="">
                <img class="absolute left-24 bottom-24" src="img/Ellipse 2.png" alt="" draggable="false">
            </div>
         </section>
    <hr class="mx-48 mt-10 mb-32">


<section class="flex justify-center pb-[64px]">
    <div class="[--gap:100px] max-w-[1200px] overflow-hidden [mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)]">
        <div class="flex gap-[--gap] w-max animate-scroll">
            <img class="size-36" src="img/html.svg" alt="">
            <img class="size-36" src="img/css.svg" alt="">
            <img class="size-36" src="img/js.svg" alt="">
            <img class="size-36" src="img/adobe.svg" alt="">
            <img class="size-36" src="img/figma.svg" alt="">
            <img class="size-36" src="img/blender.svg" alt="">
            <img class="size-36" src="img/html.svg" alt="">
            <img class="size-36" src="img/css.svg" alt="">
            <img class="size-36" src="img/js.svg" alt="">
            <img class="size-36" src="img/adobe.svg" alt="">
            <img class="size-36" src="img/figma.svg" alt="">
            <img class="size-36" src="img/blender.svg" alt="">
        </div>
    </div>
</section>

<section class="px-[300px] pt-[80px] pb-[250px] relative overflow-hidden">
    <img class="absolute -right-48 " src="img/something.svg" alt="something">
    <h1 class="text-[60px] font-bold text-center w-full leading-[70px] relative w-fit py-[50px]"><span class="bg-[#EF7404]">Featured</span> Work</h1>
    <div class="">
        <!-- <img class="absolute top-[400px] left-[-280px]" src="img/topography 4.png" alt="vector" draggable="false"> -->
        <div class="pb-32 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <img class="relative inset-0 rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/cileungtruck.png" alt="">
        </div>
        <div class="pb-32 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <img class="relative inset-0 rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/joycat.png" alt="">
        </div>
        <div class="group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <img class="relative inset-0 rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/aviaventura.png" alt="">
        </div>
        <!-- <img class="absolute -bottom-28 -right-32" src="img/bigellipse.svg" alt=""> -->
    </div>
</section>

    <img class="object-contain" src="img/scribbly.svg" alt="">
    <div class="text-center leading-[80px]">
        <h1 class="text-[60px] font-bold w-full pt-[130px]">The <span class="bg-[#EF7404]">MulkyMedia</span> Showcase</h1>
        <p class="text-[20px] font-light">Welcome to my showcase!  A section filled with all my multimedia creations.</p>
    </div>

    <hr class="mx-48 mt-10 mb-32">

    <!-- <footer>
        <img class=" w-full h-[500px]" src="img/footer.png" alt="">
    </footer> -->
    



</body>
</html>