---
import { Adobephotoshop, Adobeillustrator, Adobeaftereffects, Adobepremierepro, Blender, Github, X, Instagram } from "simple-icons-astro"
---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>mulkyayyubi</title>
</head>

<body class="bg-zinc-900 text-white font-['Merriweather_Sans']">
     <nav class="container mx-auto md:px-[110px] px-7 pt-10 pb-40 flex justify-between ">
        <p><a class="text-2xl" href="">mulkyayyubi.</a>
            <div class="flex gap-5">
               <a target="_blank" href="https://www.instagram.com/mo._.oolky/"><Instagram /></a>
               <a target="_blank" href="https://x.com/mulkyayb"><X /></a>
               <a target="_blank" href="https://github.com/MulkyAyyubi"><Github /></a>
            </div>
    </nav>
        
         <section class="container mx-auto px-6 md:px-[110px] flex flex-col-reverse 2xl:flex-row items-center">
            <div>
                <h1 class="text-[90px] md:text-[126px] font-bold leading-[80px] md:leading-[130px] relative w-fit pt-[100px] md:pt-[40px]" id="rotate">Olá <br> Amigos!</h1>
                <p class="pt-11 max-w-[500px] text-base sm:text-lg md:text-xl font-light leading-[28px]">Ola, <span class="font-bold text-[#FF7A00]">I'm Mulky Ayyubi</span> 👋🏼 . A Front-End Developer 
                    from Indonesia  passionate about building 
                    accessible webs that users love and likes
                    to dive into the Multimedia world.</p>
                <a class="text-base font-normal pt-[60px] w-fit relative after:left-0 after:bg-[#FF7A00] after:h-1 after:absolute after:right-0 after:-bottom-1 after:rounded-md block" href="">CONTACT ME</a>
            </div>
            <div class="relative -mt-36 ml-12">
                <img class=" hidden md:block " src="img/foto.svg" alt="">
                <img class="absolute left-24 bottom-24" src="img/Ellipse 2.png" alt="" draggable="false">
            </div>
         </section>
    <hr class="mx-5 md:mx-48 mt-10 mb-32">


<section class="container mx-auto flex justify-center py-[24px] md:py-[64px]">
    <div class="[--gap:50px] md:[--gap:100px] max-w-[1200px] overflow-hidden [mask:linear-gradient(90deg,transparent,white_20%,white_80%,transparent)]">
        <div class="flex gap-[--gap] w-max animate-scroll">
            <img class="size-20 md:size-36" src="img/html.svg" alt="">
            <img class="size-20 md:size-36" src="img/css.svg" alt="">
            <img class="size-20 md:size-36" src="img/js.svg" alt="">
            <img class="size-20 md:size-36" src="img/adobe.svg" alt="">
            <img class="size-20 md:size-36" src="img/figma.svg" alt="">
            <img class="size-20 md:size-36" src="img/blender.svg" alt="">
            <img class="size-20 md:size-36" src="img/html.svg" alt="">
            <img class="size-20 md:size-36" src="img/css.svg" alt="">
            <img class="size-20 md:size-36" src="img/js.svg" alt="">
            <img class="size-20 md:size-36" src="img/adobe.svg" alt="">
            <img class="size-20 md:size-36" src="img/figma.svg" alt="">
            <img class="size-20 md:size-36" src="img/blender.svg" alt="">
        </div>
    </div>
</section>

<div class="overflow-hidden w-full h-48 absolute">
    <img class="hidden md:block absolute -right-48" src="img/something.svg" alt="something">
</div>
<section class="container mx-auto px-[20px] md:px-[110px] pt-[80px] pb-[100px] md:pb-[250px] relative overflow-hidden">
    <h1 class="text-[40px] md:text-[60px] font-bold text-center w-full leading-[70px] relative py-[50px]"><span class="bg-[#EF7404]">Featured</span> Work</h1>
    <div class="">
        <!-- <img class="absolute top-[400px] left-[-280px]" src="img/topography 4.png" alt="vector" draggable="false"> -->
        <div class="mb-[70px] md:mb-48 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <a target="_blank" href="https://muhammadmulkyayyubi.kodeintekno.com/tugas-pekanan-3/">
                <img class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/cileungtruck.png" alt="">
            </a> 
        </div>
        <div class="mb-[70px] md:mb-48 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <a target="_blank" href="https://mulky-asat.vercel.app/">
                <img class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/joycat.png" alt="">
            </a>
        </div>
        <div class="mb-[70px] md:mb-48 group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <a target="_blank" href="https://aviaventura.vercel.app/">
                <img class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/aviaventura.png" alt="">
            </a>
        </div>
        <div class="group rounded-xl overflow-hidden [mask:linear-gradient(0deg,transparent,black_70%)]">
            <a target="_blank" href="https://muhammadmulkyayyubi.kodeintekno.com/tugas-pekanan-4/">
                <img class="relative inset-0 size-full rounded-lg aspect-video object-cover block group-hover:scale-110 transition-transform duration-300" src="img/kodeinbook.png" alt="">
            </a>
        </div>
        <!-- <img class="absolute -bottom-28 -right-32" src="img/bigellipse.svg" alt=""> -->
    </div>
</section>

<img class="object-contain" src="img/scribbly.svg" alt="">

<section class="container mx-auto">
    <div class="text-center">
        <h1 class="text-[40px] md:text-[60px] font-bold w-full pt-[130px] leading-[60px] md:leading-[80px]">The <span class="bg-[#EF7404]">MulkyMedia</span> Showcase</h1>
        <p class="text-[16px] md:text-[20px] font-light">Welcome to my showcase!  A section filled with all my multimedia creations.</p>
    </div>
    
    <hr class="mx-5 md:mx-48 mt-10 mb-12 md:mb-32">
    
    <div class="flex w-full justify-center gap-8 md:gap-14 pb-[80px] md:pb-[160px]" id="navShi">
        <div data-project="ps" class="outline rounded-xl outline-offset-8">
            <Adobephotoshop class="size-[50px] md:size-28" />
        </div>
        <div data-project="ai">
            <Adobeillustrator class="size-[50px] md:size-28" />
        </div>
        <div data-project="ae">
            <Adobeaftereffects class="size-[50px] md:size-28" />
        </div>
        <div data-project="pr">
            <Adobepremierepro class="size-[50px] md:size-28" />
        </div>
        <div data-project="bl">
            <Blender class="size-[50px] md:size-28" />
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid md:grid-cols-2" id="itemShi">
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[120px] md:w-[260px]" src="img/mohammedali.png" alt="">
            <h1 class="text-xl md:text-3xl font-bold pt-8">Magazine</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">I took the idea of making a Muhammad Ali magazine as a remembrance and also because he got into my head </p>
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[120px] md:w-[260px]" src="img/climate.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Infographic</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">I parcitipated in an infographic poster competition hosted by <span class="font-bold text-[#FF7A00]"> OLIMPEDIA </span> with the theme of climate change. </p>
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[200px] md:w-[400px]" src="img/dakwah1.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Dakwah Poster</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">I was assigned to make a dakwah poster for a school assignment. This was one of my many assignments from school.</p>
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[200px] md:w-[400px]" src="img/dakwah2.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Dakwah Poster</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">I was assigned to make another dakwah poster for the final assignment of the photoshop class meeting.
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 hidden" data-project="ai">
            <img class="w-[200px] md:w-[400px]" src="img/dakwah3.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Dakwah Poster</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">I was assigned to make another dakwah poster for the final assignment of the Illustrator class meeting.
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[120px] md:w-[280px]" src="img/vespa.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Vespa Poster</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">This was my first photoshop assignment from school which you can see is not very good but I'm still proud of.
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 hidden" data-project="ai">
            <img class="w-[250px] md:w-[500px] h-[150px] md:h-[350px]" src="img/house.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Mansion</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">This was my first illustrator assignment from school. It was to input colours into the mansion neatly
        </div>
        <div class="flex flex-col items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 " data-project="ps">
            <img class="w-[200px] md:w-[400px]" src="img/nasgor.png" alt="">
            <h1 class="text-xl md:text-3xl pt-8">Advertisement</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">The design i made here was also an assignment which was then inputted to After Effects to be animated.
        </div>
        <div class="flex flex-col col-span-2 items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 hidden" data-project="ae">
            <iframe class="w-[250px] md:w-[500px] h-[150px] md:h-[300px]" src="https://drive.google.com/file/d/1ORW1zpbG8uFjlWLlqqv-PI7npxMWyGz_/preview"></iframe>
            <h1 class="text-xl md:text-3xl pt-8">Advertisement</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">Remember the design that i said was inputted to after effects to be animated? Well, this is the video.
        </div>
        <div class="flex flex-col col-span-2 items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 hidden" data-project="bl">
            <iframe class="w-[250px] md:w-[500px] h-[150px] md:h-[300px]" src="https://drive.google.com/file/d/19e9nxB1XNSTd4rHgzkam8ybzpIqbAlLC/preview"></iframe>
            <h1 class="text-xl md:text-3xl pt-8">Masjid Al-Ayyubi</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">This is a 3D Blender assignment of making a masjid of our own which took me some times to finish.
        </div>
        <div class="flex flex-col col-span-2 items-center mx-auto bg-[#303030] w-[300px] md:w-[600px] py-9 rounded-xl mb-[50px] md:mb-44 hidden" data-project="pr">
            <iframe class="w-[250px] md:w-[500px] h-[150px] md:h-[300px]" src="https://drive.google.com/file/d/16I1rpwGcT85w6_Nan9yFnTB3ZXz6sePm/preview"></iframe>
            <h1 class="text-xl md:text-3xl pt-8">My Activity</h1>
            <p class="text-center text-sm md:text-base font-light pt-4 max-w-[250px] md:max-w-[500px]">A Premier Pro assignment of making a video for a school profile and "A Day In My Life" for our final multimedia assignment
        </div>
    </div>
</section>



 <footer class="overflow-hidden">
    <img class=" w-full" src="img/footer.png" alt="">
    <p class="bg-[#242424] text-3xl md:text-6xl font-bold md:pl-[250px] px-5 pt-[90px] pb-[80px] md:pb-[120px] leading-[40px] md:leading-[70px]">Curious to collaborate or <br>
        discuss a project? <br>
        <a class="text-[#FF7A00]" target="blank" href="mailto:@mulkyalayyubi.com">Let's Talk</a>
    </p>
    <div class="animate-scroll flex [--gap:12px] gap-[--gap] [--direction:reverse] bg-[#242424] w-max pb-3">
        <p class="font-light">Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You •</p>
        <p class="font-light">Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You • Thank You •</p>
    </div>
 </footer>


</body>
</html>

<script>
    const navShi = document.querySelectorAll("#navShi [data-project]");
    const itemShi = document.querySelectorAll("#itemShi [data-project]");

    navShi.forEach((singleNavShi) => {
        singleNavShi.addEventListener("click", () => {
            navShi.forEach((singleNavShi) => singleNavShi.classList.remove("outline", "rounded-xl", "outline-offset-8"))

            singleNavShi.classList.add("outline", "rounded-xl", "outline-offset-8")
            

            itemShi.forEach((singleItemShi) => singleItemShi.classList.add("hidden"));
            document.querySelectorAll(`#itemShi [data-project=${singleNavShi.dataset.project}]`).forEach((singleSelectedShi) => singleSelectedShi.classList.remove("hidden"));
        })
    })
</script>